
<div class="container">
  <form  action="/registration" method="post">

      <div id="displayreg"><h2> Registration Numbers Webapp</h2>
 <strong><h3>Enter a registration number:</h3></strong></div>

        <br>
        <div id="textFieldAndBtn">
          <input type="text" class="registrationNum" name="nums" value="" pattern='[A-Z]{2,3}\s\d{3}\W\d{3}|[A-Z]{2,3}\s\d{2,3}' title="Example: CA 123-345">
          <br>
        
          <input type="submit" name="add" value="Add!" class="bigBtn">
          </form>
          <a href="/reset"><input type="button" name="Reset" value="Reset!" class="bigBtn" ></a>
         
          <br>
          <span> <span class="alert"></span> </span>
        
         <br>
         <br>

         
        <div class="addTown">
          <form action="/towns" method="GET">
            <label for="town: "></label>
          <select onchange="filterBy(this)" class="DropSelector" name="selectTown">

            <option name="selectTown" selected>Choose town</option>

            <option  name="selectTown" class="DropSelector" value="All" >All-Towns</option>

            {{#each regID}}
            <option value="{{town_id}}" {{selected}}>{{town_name}}</option>
            {{/each}}
            
            {{!-- <option  name="selectTown" class="DropSelector" value="CA" >CapeTown</option>
            <option  name="selectTown" class="DropSelector" value="CJ" >Paarl</option>
            <option name="selectTown" class="DropSelector" value="CY" >Bellville</option>
            <option name="selectTown" class="DropSelector" value="CAW" >George</option>
            <option name="selectTown" class="DropSelector" value="CW" >Worcester</option> --}}

          </select>
          {{!-- <button type="submit">filter</button> --}}
           </form>
          
        </div>

        <div class="numberDisplay">
          <ul>
            {{#each Numbers}}
            <li>{{town_name}}</li>
            {{/each}}
          </ul>
      </div>
</div>
        


        {{#if messages.info}}
<div class="entry">
    <h4> {{messages.info}}</h4>
</div>
{{/if}}
</div>

  <script type="text/javascript">
    function filterBy(elem){
      var  tag = elem.value
      location.href = '/filter/' + tag
    }
  </script>
